{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
    <h1 style="align:center">RESULTS</h1>
    
    KS result for mean vector:
    {{result1}}

    KS result for covariance:
    {{result2}}

    <h1>Plots</h1>
    {% for image in plots %}
    <img align="left" src="data:image/png;base64, {{image}}" alt = "{{image}}">
    {% endfor %}

    </body>
</html>